.post-container{
    display: flex;
    margin-top: 75px;
    padding-left: 6vw;
    padding-right: 6vw;

    .thumbnail-container{
        order: 1;
        max-width: 20vw;
        position: relative;
        display: inline-block;

        .thumbnail{
            max-width: 100%;
        }
    }
    .post-info{
        order: 2;
        display: inline-block;
        margin-left: 75px;
        max-width: 40vw;

        a{
            color: black;
        }

        .read-time{
            color: darkgray;
            margin-top: 20px;

            i{
                margin-right: 5px;
            }
        }

    }

}