

@import "imports/variables.scss";

.title-block {
    margin-top: $large;
    margin-bottom: $medium;
    
    h1 {
        color: $blue;
        margin: 0;
    }

    h2 {
        font-size: $small;
        line-height: 32px;
        font-weight: 400;
        margin: 0;
    }
}