$navy: #031e34;
$navy-05: rgba($navy, .5);
$navy-03: rgba($navy, .3);
$navy-01: rgba($navy, .1);

$azure: #0495f3;
$dodger-blue: #3eb0fd;
$tomato: #f04842;
$dark-mint: #20c778;
$green: #52BD0F;
$dark-yellow: #E9BE30;