// colors
$offWhite: #fbfbfb;
$lightestGrey: #CDD2D6;
$lighterGrey: #BCBCBC;
$lightGrey: #7D8E97;
$grey: #133344;
$navy: #031E34;
$blue: #3EB2FD;
$darkBlue: #0495F3;
$darkerBlue: #0C639E;
$purple: #4F58FD;
$darkPurple: #2633FC;
$green: #31FD9C;
$darkGreen: #20C778;
$orange: #FFA532;
$darkOrange: #FF9006;
  
// typography
$light: 300;
$regular: 400;
$bold: 500;
  
// fonts
$circular: Circular, sans-serif;
$roboto: Roboto Mono, monospace;
$quote: IM Fell Double Pica, serif;
  
// padding
$micro: 8px;
$tiny: 16px;
$small: 24px;
$medium: 40px;
$large: 64px;
$xl: 104px;
$xxl: 168px;
  
// border radius
$smallBorderRadius: 4px;
$borderRadius: 10px;
  
// responsive breakpoints
$mobileMax: 479px;
$mobile: 480px;
$tabletMax: 767px;
$tablet: 768px;
$desktopMax: 959px;
$desktop: 960px;
$displayMax: 1339px;
$display: 1440px;
  